<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" [routerLink]="['']" routerLinkActive="router-link-active" >Altamira Digital</a>
  <button class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" (click)="logOut()"
    style="color: #cc0066; font-weight: bold;font-size: 12px;border-radius: 10px;background-color: #e0e0eb;">Admin Paneli</button>
  <button class="navbar-toggler  d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu"
    aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="container-fluid">
  <div class="row">
    <app-navbar></app-navbar>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>